@page "/"

<h1>Hello, world!</h1>

<BookCard Book="_bookOne"/>
<BookCard Book="_bookOne" WithButton="false"/>

@code{
    private Book _bookOne = new() // target typed new
    {
        AuthorName = "John Smith",
        Title = "Mastering Blazor WebAssembly",
        PublishingDate = new(2023, 8, 18)
    };
}

