<div class="p-3 w-64  border-solid border-2 border-gray-300 rounded">
    <h6>@Book?.Title</h6>
    <p>Author: @Book?.AuthorName</p>
    <p>Publishing Date: @Book?.PublishingDate.ToShortDateString()</p>
    @if (WithButton)
    {
        <button class="w-full bg-indigo-500 border-solid border-1 border-indigo-300 rounded text-white p-1">Add to Cart</button>
    }
</div>

@code{
    [Parameter, EditorRequired] public Book? Book { get; set; }
    [Parameter] public bool WithButton { get; set; } = true;
}