@inherits LayoutComponentBase

<main>
    <CascadingValue Value="@_backgroundStyle">
        @Body
    </CascadingValue>
</main>

@code{
    private string _backgroundStyle = "background-color: #f2f2f2";
}